// ****************************************
// SASS VARIABLES
// ****************************************

$background-colour: #ffde22;
$main-text: #000;
$nav-and-highlight: #ffad14;

// ****************************************
// GLOBAL
// ****************************************

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a::-moz-focus-inner {
  border: 0;
}

html {
  background-color: $background-colour;
  font: normal 100% sans-serif;
  color: $main-text;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.body-content {
  flex: 1 0 auto;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

a,
#email-addr {
  text-decoration: none;
  color: #000;
  font-weight: 400;

  &:visited {
    color: #000;
  }
}

p a,
#email-addr {
  border-bottom: 3px solid #000;
}

// ****************************************
// TYPOGRAPHY
// ****************************************

// ** PARAGRAPH TEXT & LISTS

p,
li {
  font-family: alda, serif;
  font-weight: 400;
  font-size: 1.3em;
}

p {
  line-height: 1.3em;

  .para-highlight {
    font-weight: 700;
  }

  & + p {
    margin-top: 0.7em;
  }

  &::selection {
    background-color: $nav-and-highlight;
  }
}

// ** HEADINGS, H1 & H2

h1.page-headline {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5em;
}

h2 {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.2em;
}

// ** NAV

.main-nav li,
footer p {
  font-family: canada-type-gibson, sans-serif;
}

.main-nav li {
  font-size: 1.1em;
  font-weight: 400;

  &::selection {
    background-color: $background-colour;
  }
}

// ** LISTS

.feature-list li {
  list-style-position: outside;
  font-size: 1.3em;
  margin-left: 1.5em;

  &:first-child {
    margin-top: 0.5em;
  }

  &:last-child {
    margin-bottom: 0.5em;
  }
}

// ** SELECTED TEXT (e.g. PRE-COPY & PASTE)

h1::selection,
h2::selection,
p .para-highlight::selection,
a::selection {
  background-color: $nav-and-highlight;
  color: #fff;
}

#copyright::selection,
#year::selection {
  background-color: $nav-and-highlight;
}

.done-text {
  font-weight: 700;
}

.email-addr {
  font-size: 1.15em;
}

a.email-addr {
  margin-bottom: 4em;
}

p.copy-confirm {
  margin-top: 1.5em;
}

// ****************************************
// SECTIONS
// ****************************************

section {
  margin-bottom: 2em;

  &:last-of-type:not(:first-of-type) {
    margin-bottom: 0;
  }
}

// ****************************************
// NAVIGATION
// ****************************************

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $nav-and-highlight;
  z-index: 1;
}

nav li {
  list-style: none;
}

.main-nav {
  padding: 0.75em 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
}

.nav-links {
  display: flex;
}

.nav-links li:not(:last-child) {
  margin-right: 1.2em;
}

// ****************************************
// IMAGES
// ****************************************

// ****************************************
// FOOTER
// ****************************************

footer {
  margin-top: 2em;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.5);
  flex-shrink: 0;

  .footer-content {
    p {
      font-size: 0.9em;
      margin-right: auto;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5%;

    #copyright {
      margin-bottom: 10px;
    }

    img {
      max-height: 3em;
    }

    .github-logo {
      max-height: 2em;
      padding-right: 1em;
    }
  }
}

// ****************************************
// CODE
// ****************************************

code {
  font-family: source-code-pro, monospace;
  font-weight: 500;
  font-style: normal;
}

.code-italic {
  font-family: source-code-pro, monospace;
  font-weight: 500;
  font-style: italic;
}

section.codeblock {
  margin: 1em 0;
}

// ** GISTS

body .gist .gist-file {
  border: none;
  margin-top: 1em;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 5px;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: source-code-pro, monospace;
  font-size: 0.7em;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

// ****************************************
// MEDIA QUERIES
// ****************************************

@media screen and (min-width: 414px) {
  .main-nav li {
    font-size: 1.3em;
  }
  .nav-links li:not(:last-child) {
    margin-right: 1.5em;
  }
  #big-hello {
    font-size: 7.5em;
  }
  h1.page-headline {
    font-size: 6em;
  }
  h2.sub-heading {
    font-size: 4em;
  }
  p {
    font-size: 1.4em;
    line-height: 1.3em;
  }
  body .gist .highlight {
    font-size: 0.9em;
  }
  .email-addr {
    font-size: 1.4em;
  }
  footer {
    .footer-content {
      p {
        font-size: 1em;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  main {
    max-width: 80%;
  }
  h1.page-headline {
    font-size: 8em;
    margin-bottom: -5px;
  }
  #big-hello {
    font-size: 8.5em;
  }
  .main-nav {
    padding: 0.75em 10%;
    margin-bottom: 1.5em;
  }
  body .gist .highlight {
    font-size: 1em;
  }
  footer {
    .footer-content {
      margin: 0 10%;
    }
  }
}

@media screen and (min-width: 900px) {
  main {
    max-width: 70%;
  }
  .main-nav {
    padding: 0.75em 15%;
  }
  footer {
    .footer-content {
      margin: 0 15%;
    }
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 60%;
  }
  .main-nav {
    padding: 0.75em 20%;
  }
  footer {
    .footer-content {
      margin: 0 20%;
    }
  }
}
