// ****************************************
// SASS VARIABLES
// ****************************************

$background-colour: #ffde22;
$main-text: #000;
$nav-and-highlight: #ffad14;

// ****************************************
// GLOBAL
// ****************************************

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $background-colour;
  font: normal 100% sans-serif;
  color: $main-text;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.body-content {
  flex: 1 0 auto;
}

li {
  list-style: none;
}

a,
#email-addr {
  text-decoration: none;
  color: #000;
  font-weight: 400;

  &:visited {
    color: #000;
  }
}

p a,
#email-addr {
  border-bottom: 3px solid #000;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

// ****************************************
// TYPOGRAPHY
// ****************************************

//Hatch Light
//font-family: hatch, serif;
//font-weight: 300;
//font-style: normal;

//Hatch Light Italic
//font-family: hatch, serif;
//font-weight: 300;
//font-style: italic;

//Hatch Regular
//font-family: hatch, serif;
//font-weight: 400;
//font-style: normal;

.main-nav li,
footer p {
  font-family: hatch, serif;
}

.main-nav li {
  font-size: 1em;
  font-weight: 400;

  &::selection {
    background-color: $background-colour;
  }
}

.page-headline {
  font-size: 6em;
  margin-top: 0;
}

h1, h2 {
  font-family: joschmi, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1::selection,
h2::selection,
p .para-highlight::selection,
a::selection {
  background-color: $nav-and-highlight;
  color: #fff;
}

.page-headline {
  margin-left: -4px;
  margin-top: 0.1em;
}

.sub-heading {
  margin-top: 0.25em;
  margin-left: -2px;
  font-size: 5em;
}

p, li {
  font-family: hatch, serif;
  font-weight: 300;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;

  .para-highlight {
    font-weight: 400;
  }

  & + p {
    margin-top: 1em;
  }

  &::selection {
    background-color: $nav-and-highlight;
  }
}

footer p {
  font-weight: 300;
  font-size: 1em;
  margin-right: auto;
  margin-bottom: 0;
}

#copyright::selection,
#year::selection {
  background-color: $nav-and-highlight;
}

.done-text {
  font-weight: 400;
}

.email-addr {
  font-size: 1.15em;
}

a.email-addr {
  margin-bottom: 4em;
}

p.copy-confirm {
  margin-top: 1.5em;
}

// ****************************************
// NAVIGATION
// ****************************************

header {
  position: sticky;
  top: 0;
  background-color: $nav-and-highlight;
}

.main-nav {
  padding: 0.75em 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
}

.nav-links {
  display: flex;
}

.nav-links li:not(:last-child) {
  margin-right: 1.3em;
}

// ****************************************
// FOOTER
// ****************************************

footer {
  margin-top: 2em;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.5);
  flex-shrink: 0;

  .footer-content {
    p {
      font-size: 0.8em;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5%;

    #copyright {
      margin-bottom: 10px;
    }

    img {
      max-height: 3em;
    }

    .github-logo {
      max-height: 2em;
      padding-right: 1em;
    }
  }
}

// ****************************************
// MEDIA QUERIES
// ****************************************

@media screen and (min-width: 414px) {
  .main-nav li {
    font-size: 1.1em;
  }
  .nav-links li:not(:last-child) {
    margin-right: 1.5em;
  }
  .page-headline {
    font-size: 8em;
  }
  .sub-heading {
    font-size: 5.5em;
  }
  p {
    font-size: 1.3em;
  }
  .email-addr {
    font-size: 1.4em;
  }
  footer {
    .footer-content {
      p {
        font-size: 1em;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  main {
    max-width: 80%;
  }
  .main-nav {
    padding: 0.75em 10%;
  }
  footer {
    .footer-content {
      margin: 0 10%;
    }
  }
}

@media screen and (min-width: 900px) {
  main {
    max-width: 70%;
  }
  .main-nav {
    padding: 0.75em 15%;
  }
  footer {
    .footer-content {
      margin: 0 15%;
    }
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 60%;
  }
  .main-nav {
    padding: 0.75em 20%;
  }
  footer {
    .footer-content {
      margin: 0 20%;
    }
  }
}

