<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://use.typekit.net/jyb7zhl.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <title>marktripney | {{ title }}</title>
</head>
<body>
  <div class="body-content">
    <header>
      <nav class="main-nav">
        <li class="home"><a href="{{ url_for('home') }}">Home</a></li>
        <ul class="nav-links">
          <li><a href="{{ url_for('work') }}">Work</a></li>
          <li><a href="{{ url_for('writing') }}">Writing</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
  <footer>
    <div class="footer-content">
      <p><span id="copyright">&copy;</span> <span id="year"></span> marktripney.com</p>
      <img src="{{ url_for('static', filename='img/GitHub-Mark-120px-plus.png') }}" class="github-logo"
           alt="GitHub's Octocat"/>
      <img src="{{ url_for('static', filename='img/Twitter_Logo_Blue.png') }}" alt="Twitter logo"/>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>