{% extends "base.html" %}
{% block content %}
  <section id="contact-intro">
    <h1 class="page-headline">Contact</h1>
  </section>
  <p>I'm happy to discuss any position, either full-time or part-time, remote or on-site (I'm based in <span
      class="para-highlight">Brussels,
    Belgium</span>). You can reach me at:</p>
  <p><a class="email-addr" href="mailto:hello@marktripney.com?subject=Mail%20from%20marktripney.com">hello@marktripney.com</a>
  </p>
  <p class="copy-confirm">Alternatively, if you don't have a default email client set up, you can copy my address to
    your clipboard by clicking <span id="email-addr" data-clipboard-text="hello@marktripney.com">here</span>.<span
        class="add-ellipsis" aria-live="polite"></span>
    <span class="done-text" aria-live="polite"></span>
    <span class="email-copied" aria-live="polite"></span></p>
  <p>I look forward to hearing from you!</p>
{% endblock content %}
