{% extends "base.html" %}
{% block content %}
  <section id="work-intro">
    <h1 class="page-headline">Work</h1>
  </section>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aperiam atque distinctio dolore doloribus
    eligendi, excepturi expedita, fugit nam reiciendis sapiente. Delectus deserunt quibusdam ratione sed voluptas! A
    assumenda culpa doloremque, doloribus est fugit, ipsa minima minus, nam numquam porro quos reprehenderit vitae?
    Fugit iusto laboriosam nobis saepe veritatis. Dolorum ea earum id iure quas tenetur totam unde voluptatum.
    Accusantium assumenda dignissimos laborum quidem saepe tempora, tenetur. A aliquam corporis cupiditate, debitis
    dolores dolorum earum ex fugit, illum ipsa ipsam iusto laboriosam laudantium nostrum perferendis placeat quas
    quisquam vero voluptatibus voluptatum. Alias atque autem blanditiis deleniti deserunt dicta eveniet necessitatibus,
    omnis optio quibusdam tempora tempore vel velit. Ab aspernatur, deserunt est facere hic in ipsam, itaque laborum
    minus officia perspiciatis tenetur ut? Accusantium corporis dolorum eaque enim harum iusto perferendis porro quaerat
    rerum voluptate. Accusamus adipisci aliquam doloremque eaque eius explicabo facere modi nesciunt nulla officia
    pariatur quaerat, quisquam quo rem tempore unde veniam! Accusantium atque beatae blanditiis cum debitis delectus
    dolorem earum eligendi error esse est eum excepturi exercitationem fuga impedit inventore ipsa, ipsam labore magni
    nam nisi non nulla optio perspiciatis quae quisquam ratione recusandae sed similique sunt tempora unde voluptatem
    voluptatum. Aperiam expedita explicabo fugiat quas quasi qui temporibus voluptatum? Adipisci debitis dolores esse
    hic laborum numquam, quo. Debitis error excepturi ipsum minima quas ratione, reiciendis rem tempore voluptatibus.
    Accusamus, aliquam at aut, autem, cumque distinctio dolores doloribus dolorum eligendi explicabo illum incidunt
    ipsum magni minus natus quidem sint soluta voluptas voluptatem voluptatibus. Maxime, nesciunt, quis. Ab assumenda
    cum cumque distinctio dolorem ea et, ex facere facilis fugiat officia, perspiciatis quam quibusdam rem similique
    tempora ullam, voluptas. Error eveniet id iusto maxime molestiae ratione reiciendis repellendus tempore. Eligendi
    incidunt ipsam minus quisquam voluptatem! Commodi consectetur corporis culpa dicta dignissimos ducimus ea earum enim
    eveniet facilis fuga id illum inventore, iure nobis odio perspiciatis provident reprehenderit repudiandae sed sequi
    sit soluta voluptates? Architecto deserunt exercitationem illum modi, natus neque placeat quisquam reprehenderit
    tempore voluptatum! Consectetur cumque doloremque, eaque enim ex expedita illum nobis velit. Amet at cum doloremque
    doloribus eligendi exercitationem fuga fugit incidunt iste itaque iusto labore laborum, modi mollitia nam neque non
    numquam perferendis possimus quibusdam quis recusandae reprehenderit, rerum temporibus vel velit voluptatem
    voluptatum. Amet distinctio dolor dolorum fuga itaque labore, minima perspiciatis quos ratione recusandae repellat
    soluta temporibus veritatis! A amet autem ea error impedit ipsam rem, soluta voluptates. Adipisci aliquam aperiam
    blanditiis cupiditate deleniti distinctio doloribus in nemo nesciunt, nostrum numquam obcaecati odio officia
    perspiciatis quaerat recusandae reiciendis repudiandae, sapiente. Ab aliquam aperiam asperiores beatae deserunt
    dicta ea eaque eius, ex expedita fuga fugiat in iure laboriosam laborum minus necessitatibus nemo, nihil nobis nulla
    numquam odit placeat possimus quaerat quia quidem ratione, reiciendis reprehenderit sequi tempora totam vitae
    voluptatem voluptatum? Ab accusantium architecto consectetur dicta dolorum, eius excepturi exercitationem ipsa
    labore laborum maxime mollitia nobis placeat provident quod reprehenderit sunt tenetur totam vero voluptate? A ab at
    aut corporis distinctio doloribus fugit minima modi officiis, porro quae quam tempore ullam! Aperiam, rerum!</p>
{% endblock content %}